#row-about,#row-ai, #row-class{
    display: none;
}

.underline{
    text-decoration: underline;
}

iframe{
    width: 100%; 
}

@media (max-width: 768px){
    iframe#google-slides {
        height: 500px;
        width: 100%; 
    }

    iframe#figma {
        height: 500px;
        width: 100%; 
    }

    .download-txt{
        font-size: .8rem;
        font-weight: 400;
    }
}

@media (min-width: 768px) {

    
    iframe#google-slides {
        height: 500px;
        width: 750px 
    }

    iframe#figma {
        height: 500px;
        width: 750px; 
    }
    .show-more-btn{
        font-weight: 600;
        font-size: 1.2rem;
    }

    .detailed-text{
        font-weight: 200;
        font-size: 1rem;
    }

    .download-txt{
        font-size: 1.2rem;
        font-weight: 500;
    }
    

}



