#row-about,#row-ai, #row-class{
    display: none;
}

.underline{
    text-decoration: underline;
}

iframe{
    width: 100%; 
}

@media (max-width: 768px){
    iframe#google-slides {
        height: 500px;
        width: 100%; 
    }

    iframe#figma {
        height: 500px;
        width: 100%; 
    }
}

@media (min-width: 768px) {

    
    iframe#google-slides {
        height: 500px;
        width: 850px 
    }

    iframe#figma {
        height: 500px;
        width: 850px 
    }
}