@media (min-width: 768px){
    .imageLine .col-md-1,
    .imageLine .col-sm-1,
    .imageLine .col-lg-1  {
      width: 100%;
      *width: 100%;
    }

    .image-elem{
        width: 100%;
        height: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .imageLine .col-md-1,
    .imageLine .col-sm-1,
    .imageLine .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }

  .image-elem{
    padding-bottom: 12px;
}

.prompt{
  font-family: 'Indie Flower', cursive;

}