@media (max-width: 768px){
    .imageLine, .col-md-1,
    .imageLine, .col-sm-1,
    .imageLine, .col-lg-1  {
      width: 100%;
      *width: 100%;
    }


  .prompt-text{
    font-size: 1.1rem;
    
  }


  }
  
  @media (min-width: 768px) {
    .imageLine .col-md-1,
    .imageLine .col-sm-1,
    .imageLine .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
    .prompt-text{
      font-size: 0.65rem;
    }
  }


  @media (min-width: 992px) {

    .prompt-text{
      font-size: 1.05rem;
    }
  }


  .image-elem{
    padding-bottom: 12px;
}

body{
  font-family: 'Source Code Pro', monospace;
  font-family: 'Space Mono', monospace;
}


/* .prompt{
  font-weight: 200;
  font-size: 0.9 rem;
} */

.image-elem{
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 1/1;
}


.prompt-text{
  font-weight: 200;
}


.lightense-wrap > .image-elem{
  /* width: 95%; */
  /* height: 90%; */
  /* width: 90vh; */
  /* height: 90vw; */
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
  aspect-ratio:unset;
}

#load{
  text-decoration: underline;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {

  border-color: none !important;
  border: none !important;

}