
@media (min-width: 768px) {

    #continue{
        border-style: none;
        text-decoration: underline;
        font-size: 1.2rem ;
        text-align: right;
        padding-right: 0%;
        font-weight: 200;
        opacity: 0;
    }

    #diffLevel{
        font-size: 1.2rem;
        font-weight: 200;
    }
    .navbar-brand{
        color:black;
        font-weight: 800;
        font-size: 1.5rem;
    }

    .nav-item{
        color: black;
        font-weight: 800;
        font-size: 1.3rem;
    }
    
    .instructions{
        font-size: 1.4rem;
        font-weight: 500;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }

    .prompt{
        font-weight: 200;
        font-size: 0.7rem;
        font-style: italic;
    }
    
    #top .genBttn{
        margin-bottom: 2%
    }
    #bottom .humBttn{
        margin-bottom: 2%
    }

    #prompt,#promptSection{
        font-size: .95rem;
    }
}


@media (min-width: 992px) { 
    
    #continue{
        border-style: none;
        text-decoration: underline;
        font-size: 1.5rem ;
        text-align: right;
        padding-right: 0%;
        font-weight: 300;
        opacity: 0;
    }
    #diffLevel{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .navbar-brand{
        color:black;
        font-weight: 800;
        font-size: 1.5rem;
    }

    .nav-item{
        color: black;
        font-weight: 800;
        font-size: 1.3rem;
    }
    
    .instructions{
        font-size: 2rem;
        font-weight: 400;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }

    #top .humBttn{
        margin-left: 2%
    }

    #bottom .genBttn{
        margin-left: 2%
    }

    #prompt,#promptSection{
        font-size: .85rem;
    }

 }

 body{
     background: rgba(240, 229, 229, 0.874);
     font-family: 'Source Code Pro', monospace;
     font-family: 'Space Mono', monospace;
 }

.genBttn,.humBttn{
    /* object-fit: cover; */
    border: 10px solid rgba(240, 229, 229, 0.874);
    aspect-ratio: 1/1;
}

.humImg,.genImg{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

#continue{
    border-style: none;
    text-decoration: underline;
    text-align: right;
    font-weight: 200;
    opacity: 0;
}

button{
    all: unset;
    cursor: pointer;
    width: 100%;
}

hr{
    background-color: black;    
    height: 2px;
    opacity: 1;
}


.bs{
    border: 3px red dashed;
    /* border: none; */
}


.diff-cont-bar{
    margin-top: 0%;
    padding-top: 0%;
}

.noPad-bottom{
    margin-bottom: 0%;
    padding-bottom: 0%;
}


.nav-item{
    color: black;
}

.active{
    text-decoration: underline;
}


.noPad-left{
    padding-left: 0%
}

#continue{
    border-style: none;
    text-decoration: underline;
    font-size: .9rem ;
    text-align: right;
    padding-right: 0%;
    font-weight: 200;
    opacity: 0;
}

#diffLevel{
    font-size: .9rem;
    font-weight: 200;
}
.navbar-brand{
    color:black;
    font-weight: 800;
    font-size: 1.5rem;
}

.nav-item{
    color: black;
    font-weight: 800;
    font-size: .95rem;
}

.instructions{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 0%;
    margin-bottom: 0%;
}



#top .genBttn{
    margin-bottom: 0%
}
#bottom .humBttn{
    margin-bottom: 0.5%
}    
#prompt,#promptSection{
    font-size: .85rem;
}