
/* css */
.genBttn,.humBttn{
    object-fit: cover;
}

.humImg,.genImg{
    object-fit: cover;
    width: 500px;
    height: 500px;
}



button{
    all: unset;
    cursor: pointer;

}
hr{
    background-color: black;    
    height: 2px;
    opacity: 1;
}

#main-content{
    border-radius: 5px;
    background-color: peachpuff;
    /* height: view; */
    height: max-content;
    /* height: 93.7vh; */
}